<div class="container">
	<br>
	<h1 align="center">Post Detail</h1>
	<br>
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<table class="table table-hover">

			  <tbody>
			  	<tr>
			      <th scope="row" *ngIf="posts.id">ID: {{posts.id}} </th>
			      <td scope="row" align="right" *ngIf="posts.userId">User Id: {{posts.userId}}</td>			  		
			  	</tr>
			    <tr>
			      <td colspan="2" *ngIf="posts.title">{{posts.title}}</td>
			    </tr>
			    <tr>			    	
			      <td colspan="2" *ngIf="posts.body"> {{posts.body}} </td>
			    </tr>
			   
			  </tbody>
			</table>
			<hr>
			<a routerLink="" class="btn btn-secondary">Go Back</a>
		</div>
		<div class="col"></div>
	</div>
</div>